# Introduction
This notebook is a comprehensive guide to Python interview questions, specifically designed for candidates preparing for analytic roles such as Data Analysts, Data Scientists, or Business Analysts.

### What You'll Find in This Notebook:
### String Questions: 
Commonly asked problems that test string manipulation skills.
### List Questions: 
Focus on operations, transformations, and understanding list comprehensions.
### Miscellaneous Questions: 
Other key Python concepts that are frequently part of interview processes.
These questions are curated based on real interview experiences and emphasize problem-solving techniques, logical reasoning, and writing efficient Python code.

ðŸ’¡ Why Strings and Lists?
Strings and lists are foundational data structures in Python. They are heavily used in data analysis tasks, making them a favorite topic for interviewers to assess your Python proficiency.

Each question in this notebook includes:

A clear problem statement
A step-by-step solution
By practicing these questions, you'll strengthen your Python skills and build confidence for tackling interview challenges.

### Check if string is palindrome

In [10]:
def is_palindrome(s):
    s = s.lower().replace(" ", "") # ignore case and space
    return s == s[::-1]

In [5]:
print(is_palindrome ("Madam"))

True

### Reverse a String

In [12]:
def reverse_string(s):
    return s[::-1]

In [22]:
reverse_string("Ritesh Pardeshi")

'ihsedraP hsetiR'

### Count the number of words in a string

In [39]:
def count_words(s):
    return len(s.split())

In [43]:
print(count_words("Python is a programming launguage"))

5

### Check if a string contains only digits

In [47]:
def is_only_digit(s):
    return s.isdigit()

In [49]:
print(is_only_digit("12345"))

True

### Remove whitespace from the string

In [60]:
company1 = "company1 is the best company to work for"

In [62]:
df = company1.replace(" ", "")
print(df)

company1isthebestcompanytoworkfor

In [56]:
def remove_whitespaces(s):
    return s.replace(" " ,"")

In [66]:
print(remove_whitespaces("Hello world"))

Helloworld

### Count the occurance of a character in string

In [69]:
def count_char(s,char):
    return s.count(char)

In [71]:
print(count_char("hello world", "o"))

2

### Find the length of a string without using LEN() funtion

In [80]:
def string_length(s):
    count = 0
    for _ in s:
        count += 1
    return count

In [82]:
print(string_length("hello"))

5

### Convert a string to uppercase and lowercase

In [90]:
def to_uppercase(s):
    return s.upper()

def to_lowercase(s):
    return s.lower()

In [92]:
print(to_uppercase('hello'))
print(to_lowercase('HELLO'))

HELLO
hello

### Replace all occurrences of a substring in a string

In [95]:
def replace_string(s, old, new):
    return s.replace(old,new)

In [99]:
print(replace_string('ritesh datson', 'datson','pardeshi'))

ritesh pardeshi

### Capitalize the first letter of each word in a string

In [2]:
def capitalize_words(s):
    return s.title()

In [6]:
print(capitalize_words("hello world"))

Hello World

### Find the longer word in a string

In [44]:
def longest_word(s):
    word = s.split()
    return max(word,key=len)

In [48]:
print(longest_word("Data Quality Analyst"))

Quality

### Remove duplicate character from a string

In [60]:
def remove_duplicate(s):
    result = []
    for char in s:
        if char not in result:
            result.append(char)
    return ''.join(result)

In [62]:
print(remove_duplicate('programming'))

progamin

### Reverse the order of words in a string

In [77]:
def reverse_word(s):
    return ' '.join(s.split()[::-1])

In [83]:
print(reverse_word("Pyhton loves Rat"))

Rat loves Pyhton

### Count the frequency of each character in string

In [86]:
def char_frequency(s):
    freq = {}
    for char in s:
        if char in freq:
            freq[char] +=1
        else:
            freq[char] = 1
    return freq

In [90]:
print(char_frequency("Hello world"))
print(char_frequency("rrrrrr"))

{'H': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}
{'r': 6}

### Find the maximum and minimum element in a list

In [93]:
def max_min(list):
    return max(list),min(list)

In [97]:
print(max_min([12,32,43,5,4,2,26,54,745,765,84,351]))

(765, 2)

### Remove duplicates from a list

In [100]:
def remove_duplicate(lst):
    return list(set(lst))

In [102]:
print(remove_duplicate([1,2,3,4,4,5]))

[1, 2, 3, 4, 5]

### Count the occurrences of an element in a list

def count_occurrence(list,element):
    return list.count(element)

In [108]:
print(count_occurrence([1,2,2,2,2,3,4,5,6],2))

4

### Find the sum of all element in a list

In [2]:
def sum_list(lst):
    return sum(lst)

In [8]:
print(sum_list([1,2,3,4,5]))

15

### Check if a list is empty

In [11]:
def is_list_empty(list):
    return len(list) == 0

In [17]:
print(is_list_empty([1,2,3,4]))
print(is_list_empty([]))

False
True

### Concatenate two lists

In [22]:
def concatenate_lists(list1 , list2):
    return list1 + list2

In [24]:
print(concatenate_lists([1,2],[23,45]))

[1, 2, 23, 45]

### Check if an element exists in a list

In [27]:
def element_exists(list,element):
    return element in list

In [29]:
print(element_exists([1,2,3,4,5,20],20))

True

### Split a list into even and odd numbers

In [32]:
def split_even_odd(list):
    even = [x for x in list if x % 2 == 0]
    odd = [x for x in list if x % 2 != 0]
    return even, odd

In [34]:
list1 = [23,45,3,10,67,89,66]

In [36]:
print(split_even_odd(list1))

([10, 66], [23, 45, 3, 67, 89])

### Count the number of odd and even number in a list

In [39]:
def count_odd_even(list):
    even_count = len([x for x in list if x % 2 == 0])
    odd_count = len([x for x in list if x % 2 != 0])
    return even_count, odd_count

In [43]:
print(count_odd_even(list1))

(2, 5)

### Remove all occurance of a value from a list

In [46]:
def remove_value(list,element):
    return [x for x in list if x != element]

In [48]:
print(remove_value([1,2,43,5,56,7,8],43))

[1, 2, 5, 56, 7, 8]

### Find the cumulative sum of elements in list

In [51]:
def cumulative_sum(list):
    cum_sum = []
    total = 0 
    for x in list:
        total += x
        cum_sum.append(total)
    return cum_sum

In [53]:
print(cumulative_sum(list1))

[23, 68, 71, 81, 148, 237, 303]

### Write a code to check if a number is positive, negative, or zero

In [56]:
def check_number(num):
    if num > 0:
        return 'positive'
    elif num < 0:
        return 'negative'
    else:
        return 'zero'

In [62]:
print(check_number(10))
print(check_number(-1))
print(check_number(0))

positive
negative
zero

### Check if a number is odd or even

In [65]:
def check_odd_even(n):
    return "Even" if n % 2 == 0 else "Odd"

In [69]:
print(check_odd_even(3))
print(check_odd_even(22))

Odd
Even

### Determine the grade based on score

In [72]:
def determine_grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    elif score >= 60:
        return 'D'
    else:
        return 'F'

In [76]:
print(determine_grade(91))
print(determine_grade(81))
print(determine_grade(70))
print(determine_grade(65))
print(determine_grade(40))

A
B
C
D
F

# ALL THE BEST